@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
.zalo-cta {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.zalo-cta .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zalo-cta .cta .zalo img {
  width: 56px;
  padding: 16px;
  background: #0068FF;
  border-radius: 50px;
}
.zalo-cta .cta .hotline {
  color: #fff;
  background-color: #ED1C24;
  padding: 4px 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 48px;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 8px;
}
.zalo-cta .cta-hover {
  display: none;
  background: #0068FF;
  box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.1), 0px 16px 40px rgba(0, 0, 0, 0.1);
  border-radius: 58px;
  padding: 10px 12px;
}
.zalo-cta .cta-hover .zalo-hover {
  width: 40px;
  background: #0068FF;
  border-radius: 50px;
}
.zalo-cta .cta-hover .contact {
  text-align: right;
  margin-right: 24px;
}
.zalo-cta .cta-hover .contact span {
  text-align: right;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}
.zalo-cta .cta-hover .contact p {
  margin: 0 0 0 20px;
}
.zalo-cta .cta-hover .contact p a {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}
.zalo-cta:hover .cta {
  display: none;
}
.zalo-cta:hover .cta-hover {
  display: flex;
}

#common__header #common__banner {
  position: relative;
}
#common__header #common__banner .banner-text {
  position: absolute;
  display: flex;
  align-items: center;
}
#common__header #common__banner .banner-text .banner__icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
#common__header #common__banner .banner-text .banner__hotline {
  margin: 0 16px 0 0;
  color: #ED1C24;
  font-weight: 700;
  font-size: 32px;
}
#common__header #common__banner .banner-text .banner__note {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "SVN-Poppins";
  src: url("../font//SVN-Poppins/OTF/SVN-Poppins-Thin.otf") format("embedded-opentype"), url("../font//SVN-Poppins/OTF/SVN-Poppins-ThinItalic.otf") format("embedded-opentype");
  font-weight: 100;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../font//SVN-Poppins/OTF/SVN-Poppins-ExtraLight.otf") format("embedded-opentype"), url("../font//SVN-Poppins/OTF/SVN-Poppins-ExtraLightItalic.otf") format("embedded-opentype");
  font-weight: 200;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../font//SVN-Poppins/OTF/SVN-Poppins-Light.otf") format("embedded-opentype"), url("../font//SVN-Poppins/OTF/SVN-Poppins-LightItalic.otf") format("embedded-opentype");
  font-weight: 300;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../font/SVN-Poppins/SVN-Poppins-Regular.otf"), url("../font//SVN-Poppins/OTF/SVN-Poppins-Regular.otf") format("embedded-opentype"), url("../font//SVN-Poppins/TTF/SVN-Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../font/SVN-Poppins/SVN-Poppins-Medium.otf"), url("../font//SVN-Poppins/OTF/SVN-Poppins-Medium.otf") format("embedded-opentype"), url("../font//SVN-Poppins/TTF/SVN-Poppins-Medium.ttf") format("truetype"), url("../font//SVN-Poppins/OTF/SVN-Poppins-MediumItalic.otf") format("embedded-opentype");
  font-weight: 500;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../font/SVN-Poppins/SVN-Poppins-SemiBold.otf"), url("../font//SVN-Poppins/OTF/SVN-Poppins-SemiBold.otf") format("embedded-opentype"), url("../font//SVN-Poppins/OTF/SVN-Poppins-SemiBoldItalic.otf") format("embedded-opentype"), url("../font//SVN-Poppins/TTF/SVN-Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../font//SVN-Poppins/OTF/SVN-Poppins-Bold.otf") format("embedded-opentype"), url("../font//SVN-Poppins/OTF/SVN-Poppins-BoldItalic.otf") format("embedded-opentype");
  font-weight: 700;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../font//SVN-Poppins/OTF/SVN-Poppins-ExtraBold.otf") format("embedded-opentype"), url("../font//SVN-Poppins/OTF/SVN-Poppins-ExtraBoldItalic.otf") format("embedded-opentype");
  font-weight: 800;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../font/SVN-Poppins/SVN-Poppins-Black.otf"), url("../font//SVN-Poppins/OTF/SVN-Poppins-Black.otf") format("embedded-opentype"), url("../font//SVN-Poppins/OTF/SVN-Poppins-BlackItalic.otf") format("embedded-opentype");
  font-weight: 900;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../font/SVN-Poppins/SVN-Poppins-Italic.otf"), url("../font//SVN-Poppins/OTF/SVN-Poppins-Italic.otf") format("embedded-opentype"), url("../font//SVN-Poppins/TTF/SVN-Poppins-Italic.ttf") format("truetype");
  font-style: italic;
}
* {
  font-family: "SVN-Poppins";
  color: #0C1323;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: #ED1C24;
  margin: 8px 0;
  display: block;
}

.description {
  font-size: 32px;
  font-weight: 600;
  color: #0C1323;
  margin: 8px 0;
  display: block;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #F1F2F5;
  height: 80px;
}
.navbar .navbar-nav.menu .nav-item {
  margin: 0 20px;
}
.navbar .navbar-nav.menu .nav-item.dropdown {
  position: relative;
}
.navbar .navbar-nav.menu .nav-item.dropdown::before {
  content: "";
  height: 35px;
  width: 100%;
  top: 24px;
  position: absolute;
}
.navbar .navbar-nav.menu .nav-item.dropdown .nav-link:hover {
  border: none;
}
.navbar .navbar-nav.menu .nav-item.dropdown:hover {
  border-bottom: 2px solid #ED1C24;
}
.navbar .navbar-nav.menu .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  top: 58px;
  left: -15px;
  border: none;
  border-radius: unset;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 8px 24px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-nav.menu .nav-item.dropdown:hover .dropdown-item {
  margin: 12px 0px;
}
.navbar .navbar-nav.menu .nav-item.dropdown:hover .dropdown-item:hover, .navbar .navbar-nav.menu .nav-item.dropdown:hover .dropdown-item:focus {
  background-color: unset;
}
.navbar .navbar-nav.menu .nav-item.dropdown:hover .dropdown-item:active {
  background-color: unset;
  color: #ED1C24;
}
.navbar .navbar-nav.menu .nav-item .nav-link {
  color: #5C6069;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0;
  margin-top: 2px;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  display: inline-block;
  transition: unset;
}
.navbar .navbar-nav.menu .nav-item .nav-link:hover {
  border-bottom: 2px solid #ED1C24;
  font-weight: 600;
}
.navbar .navbar-language .dropdown-menu {
  top: 58px;
  left: -15px;
  border: none;
  border-radius: unset;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 8px 24px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-language .dropdown-menu .dropdown-item {
  margin: 12px 0px;
}
.navbar .navbar-language .dropdown-menu .dropdown-item img {
  width: 16px;
}
.navbar .navbar-language .dropdown-menu .dropdown-item span {
  font-size: 14px;
  font-weight: 400;
}
.navbar .navbar-toggler {
  border: none;
}

.offcanvas .offcanvas-header {
  border-bottom: 1px solid #F1F2F5;
}
.offcanvas .offcanvas-body .navbar-nav.menu .nav-item {
  margin: 15px 0;
}
.offcanvas .offcanvas-body .navbar-nav.menu .nav-item.dropdown {
  position: relative;
}
.offcanvas .offcanvas-body .navbar-nav.menu .nav-item.dropdown .nav-link:hover {
  border: none;
}
.offcanvas .offcanvas-body .navbar-nav.menu .nav-item.dropdown:hover {
  border: none;
}
.offcanvas .offcanvas-body .navbar-nav.menu .nav-item.dropdown:hover .dropdown-menu {
  border: none;
  border-radius: unset;
  box-shadow: none;
}
.offcanvas .offcanvas-body .navbar-nav.menu .nav-item.dropdown:hover .dropdown-menu .dropdown-item {
  padding: 8px 8px;
  font-size: 14px;
}
.offcanvas .offcanvas-body .navbar-nav.menu .nav-item .nav-link {
  color: #5C6069;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  display: inline-block;
  transition: unset;
}
.offcanvas .offcanvas-body .navbar-language {
  display: flex;
}
.offcanvas .offcanvas-body .navbar-language .dropdown-menu {
  border: none;
  border-radius: unset;
  box-shadow: none;
}

.offcanvas {
  display: none;
}

@media (max-width: 991.98px) {
  .navbar-nav.no-offcanvas {
    display: none;
  }

  .offcanvas {
    display: block;
  }

  .offcanvas.show {
    width: 100%;
  }

  .offcanvas-end {
    border: none;
  }

  .navbar-language {
    display: none;
  }
}
#footer {
  background-color: #0C1323;
  color: #fff;
  padding: 64px 0;
}
#footer .footer__copyright p {
  font-size: 10px;
  font-weight: 400;
  opacity: 0.7;
  color: #fff;
}
#footer .footer__content .footer__title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 34px;
}
#footer .footer__content .footer__infor {
  margin-bottom: 26px;
}
#footer .footer__content .footer__infor .infor {
  margin-left: 12.75px;
}
#footer .footer__content .footer__infor .infor .infor__name {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
#footer .footer__content .footer__infor .infor .infor__address, #footer .footer__content .footer__infor .infor .infor__phone {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  color: #fff;
}
#footer .footer__content .footer__infor .infor .infor__phone {
  margin: 0;
}
#footer .footer__content .footer__item {
  margin-bottom: 26px;
}
#footer .footer__content .footer__item a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
#footer .footer__content .footer__item a:hover {
  color: #ED1C24;
}
#footer .footer__content .footer__column:not(:first-child) {
  padding-left: 10%;
}
#footer .footer__content .footer__column.responsive {
  display: none;
}

@media (max-width: 767.98px) {
  #footer .footer__content .footer__column {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  #footer .footer__content .footer__column:not(:first-child) {
    display: none;
  }
  #footer .footer__content .footer__column.responsive {
    display: block;
  }
  #footer .footer__content .footer__column.last {
    border-bottom: none;
  }
}
@media (max-width: 991.98px) {
  #footer .footer__content .footer__column {
    padding-left: 10%;
  }
  #footer .footer__copyright {
    padding-left: 10%;
  }
}
.slider {
  position: relative;
}
.slider .slideshow__image .slideshow__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 480px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}
.slider .slideshow__content {
  margin-top: 90px;
}
.slider .slideshow__content p {
  font-size: 42px;
  font-weight: 600;
  margin: 0px;
}
.slider .slideshow__content span {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 991.98px) {
  .slider .slideshow__image .slideshow__item {
    height: 400px;
  }
  .slider .slideshow__content {
    margin-top: 90px;
  }
  .slider .slideshow__content p {
    font-size: 30px;
    font-weight: 600;
    margin: 8px 0px;
  }
  .slider .slideshow__content span {
    font-size: 16px;
    font-weight: 400;
  }
}
.button__action:hover {
  background-color: #ED1C24;
  color: #fff !important;
}

.breadcrumb .breadcrumb-item {
  margin-bottom: 40px;
}
.breadcrumb .breadcrumb-item a {
  color: #0C1323;
  font-size: 14px;
  font-weight: 400;
}
.breadcrumb .breadcrumb-item img {
  width: 16px;
}
.breadcrumb .breadcrumb-item.name {
  opacity: 0.7;
}

@media (max-width: 575.98px) {
  .breadcrumb .breadcrumb-item {
    margin-bottom: 0;
    padding: 0;
  }
  .breadcrumb .breadcrumb-item.name {
    opacity: 0.7;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    width: 200px;
  }
}
#home .slider {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 480px;
  margin-top: 80px;
}
#home #ss {
  margin-top: 120px;
}
#home #ss .ss__content {
  margin-top: 72px;
}
#home #ss .ss__content .ss__item {
  padding: 8px 8px 60px 8px;
  margin-bottom: 40px;
}
#home #ss .ss__content .ss__item .ss__card {
  position: relative;
}
#home #ss .ss__content .ss__item .ss__card .card__image {
  width: 100%;
  height: 320px;
}
#home #ss .ss__content .ss__item .ss__card .card__description {
  position: absolute;
  bottom: -50px;
  left: 30px;
  width: 90.5%;
  background-color: #fff;
  padding: 10px 0 0 20px;
}
#home #ss .ss__content .ss__item .ss__card .card__description p {
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  word-break: break-word;
  margin: 12px 12px 12px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
#home #ss .ss__content .ss__item .ss__card .card__description span {
  display: block;
  color: #5C6069;
  font-size: 14px;
  font-weight: 400;
  margin: 12px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
#home #ss .ss__content .ss__item:hover {
  background-color: #F7F7F9;
}
#home #project {
  overflow: hidden;
}
#home #project .project__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home #project .project__btn {
  border: 1px solid #ED1C24;
  text-decoration: none;
  color: #0C1323;
  padding: 9px 16px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home #project .project__btn span {
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}
#home #project .project__btn img {
  margin-left: 14px;
  width: 16px;
}
#home #project .project__slideshow {
  /* Fading animation */
}
#home #project .project__slideshow .fade {
  opacity: 1;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#home #project .project__slideshow .project__content {
  margin: 64px 0px 120px 0px;
}
#home #project .project__slideshow .project__content .content__image img {
  width: 650px;
  height: 500px;
}
#home #project .project__slideshow .project__content .content__description .description__action {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home #project .project__slideshow .project__content .content__description .description__action.responsive {
  display: none;
}
#home #project .project__slideshow .project__content .content__description .description__action .description__number {
  padding: 8px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #F1F2F5;
}
#home #project .project__slideshow .project__content .content__description .description__action .description__image button {
  border: 1px solid #F1F2F5;
}
#home #project .project__slideshow .project__content .content__description .description__action .description__image button img {
  width: 16px;
  height: 16px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__name {
  margin-bottom: 24px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__name .info__title {
  font-size: 24px;
  font-weight: 400;
  color: #0C1323;
  margin-bottom: 12px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__name .info__description {
  font-size: 14px;
  font-weight: 400;
  color: #5C6069;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__service .info__title, #home #project .project__slideshow .project__content .content__description .description__infor .infor__address .info__title {
  font-size: 14px;
  font-weight: 600;
  color: #0C1323;
  margin-bottom: 8px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__service .info__description, #home #project .project__slideshow .project__content .content__description .description__infor .infor__address .info__description {
  font-size: 14px;
  font-weight: 400;
  color: #5C6069;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__service {
  margin-bottom: 24px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .project__btn.responsive {
  display: none;
}
#home #product .product__title {
  margin-bottom: 64px;
}
#home #product .product__content {
  margin-bottom: 64px;
}
#home #product .product__content .content__item {
  margin-bottom: 12px;
  border: 1px solid #F1F2F5;
}
#home #product .product__content .content__item img {
  margin-right: 24px;
  width: 120px;
  height: 120px;
}
#home #product .product__content .content__item div {
  height: 100%;
  width: 100%;
  padding: 10px;
}
#home #product .product__content .content__item div span {
  font-size: 16px;
  font-weight: 400;
  color: #0C1323;
}
#home #product .product__action {
  text-align: center;
  margin-bottom: 120px;
}
#home #product .product__action a {
  text-decoration: none;
  color: #0C1323;
  padding: 9px 16px;
  border: 1px solid #ED1C24;
}
#home #product .product__action a span {
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}
#home #product .product__action a img {
  width: 16px;
}

@media (max-width: 1399.98px) {
  #home #project .project__slideshow .project__content .content__image img {
    width: 570px;
    height: 400px;
  }
}
@media (max-width: 1199.98px) {
  #home #project .project__slideshow .project__content .content__image img {
    width: 470px;
    height: 400px;
  }
}
@media (max-width: 991.98px) {
  #home .slider {
    height: 400px;
  }
  #home #project .project__header {
    display: block;
  }
  #home #project .project__header .project__title {
    text-align: center;
  }
  #home #project .project__header .project__btn {
    display: none;
  }
  #home #project .project__slideshow .project__content .content__image img {
    width: 100%;
  }
  #home #project .project__slideshow .project__content > div {
    padding: 0 !important;
    margin-bottom: 10px;
  }
  #home #project .project__slideshow .project__content .content__description .description__action {
    display: none;
  }
  #home #project .project__slideshow .project__content .content__description .description__action.responsive {
    display: block;
    margin: 12px 0 40px 0;
  }
  #home #project .project__slideshow .project__content .content__description .description__action.responsive .description__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #home #project .project__slideshow .project__content .content__description .description__infor .project__btn.responsive {
    display: block;
    width: fit-content;
  }
  #home #ss {
    margin-top: 80px;
  }
  #home #ss .ss__content {
    margin-bottom: 80px;
  }
  #home #ss .ss__content .ss__item {
    padding: 8px 8px 8px 8px;
    margin-bottom: 24px;
  }
  #home #ss .ss__content .ss__item .ss__card {
    position: relative;
  }
  #home #ss .ss__content .ss__item .ss__card .card__image {
    width: 100%;
    height: 260px;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description {
    position: unset;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description p {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    margin: 0;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
  }
}
@media (max-width: 575.98px) {
  #home #ss .ss__content {
    margin-bottom: 80px;
  }
  #home #ss .ss__content .ss__item {
    margin-bottom: 0;
  }
  #home #ss .ss__content .ss__item .ss__card .card__image {
    height: 166px !important;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description p {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    margin: 12px 0;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
  }
}
#about .about__content {
  margin-top: 290px;
}
#about .about__content .about__item {
  margin-bottom: 120px;
}
#about .about__content .about__item .about__text {
  align-items: flex-start;
}
#about .about__content .about__item .about__text .about__title .title {
  color: #ED1C24;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
#about .about__content .about__item .about__text .about__title .description {
  font-size: 32px;
  font-weight: 600;
  color: #0C1323;
  margin: 8px 0;
}
#about .about__content .about__item .about__text .about__list {
  list-style-type: none;
  padding: 0;
  margin: 40px 0;
}
#about .about__content .about__item .about__text .about__list .about__list__item {
  display: flex;
  align-items: flex-start;
  margin: 24px 0;
}
#about .about__content .about__item .about__text .about__list .about__list__item p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #0C1323;
  margin: 0 12px;
}
#about .about__content .about__item .about__image img {
  width: 100%;
  height: 500px;
}
#about .about__content .about__action {
  margin-bottom: 120px;
  background-color: #ED1C24;
  padding: 42px 56px;
  align-items: center;
}
#about .about__content .about__action .about__text p {
  margin: 0;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
#about .about__content .about__action .about__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#about .about__content .about__action .about__image .button__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #fff;
  padding: 16px 24.5px;
  background-color: unset;
}
#about .about__content .about__action .about__image .button__action p {
  margin: 0 12.5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
#about .about__content .about__action .about__image .button__action:hover {
  background-color: #fff;
}
#about .about__content .about__action .about__image .button__action:hover p {
  color: #ED1C24;
}

@media (max-width: 1599.98px) {
  #about .about__content {
    margin-top: 270px;
  }
}
@media (max-width: 1399.98px) {
  #about .about__content {
    margin-top: 250px;
  }
}
@media (max-width: 1199.98px) {
  #about .about__content {
    margin-top: 230px;
  }
}
@media (max-width: 991.98px) {
  #about .about__content {
    margin-top: 210px;
  }
  #about .about__content .about__item {
    margin-bottom: 80px;
  }
  #about .about__content .about__item .about__text .about__title {
    text-align: center;
  }
  #about .about__content .about__item:nth-child(2) .about__text {
    order: -1;
  }
  #about .about__content .about__item .about__image img {
    width: 100%;
    height: 440px;
  }
  #about .about__content .about__action .about__text {
    text-align: center;
    margin-bottom: 24px;
  }
  #about .about__content .about__action .about__image {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  #about .about__content {
    margin-top: 190px;
  }
  #about .about__item .about__image img {
    width: 100%;
    height: 320px;
  }
}
@media (max-width: 575.98px) {
  #about .about__content {
    margin-top: 170px;
  }
}
#solution .solution__content {
  margin-top: 290px;
}
#solution .solution__content .solution__item .solution-left {
  margin-bottom: 64px;
}
#solution .solution__content .solution__item .solution-left .solution__text .title {
  color: #0C1323;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 24px 0;
}
#solution .solution__content .solution__item .solution-left .solution__text .description {
  font-size: 16px;
  font-weight: 400;
  color: #0C1323;
  margin: 12px 0px;
}
#solution .solution__content .solution__item .solution-left .solution__text .thumbnail {
  margin-bottom: 8px;
}
#solution .solution__content .solution__item .solution-left .solution__text .thumbnail img {
  width: 100%;
  height: 500px;
}
#solution .solution__content .solution__item .solution-left .solution__text .thumbnail .description__image {
  font-size: 16px;
  font-weight: 400;
  color: #5C6069;
  text-align: center;
  font-style: italic;
  margin-top: 8px;
}
#solution .solution__content .solution__item .solution-left .solution__text .solution__action {
  background-color: #F7F7F9;
  padding: 24px 0;
  margin-top: 88px;
  text-align: center;
}
#solution .solution__content .solution__item .solution-left .solution__text .solution__action .text {
  font-size: 18px;
  font-weight: 600;
}
#solution .solution__content .solution__item .solution-left .solution__text .solution__action .hotline {
  font-size: 32px;
  font-weight: 600;
  color: #ED1C24;
  margin: 0;
}
#solution .solution__content .solution__item .solution-right .solution__outstand__title {
  display: flex;
  margin-bottom: 34px;
}
#solution .solution__content .solution__item .solution-right .solution__outstand__item {
  display: flex;
  margin-bottom: 24px;
}
#solution .solution__content .solution__item .solution-right .solution__outstand__item .card__img {
  width: 100px;
  height: 100px;
}
#solution .solution__content .solution__item .solution-right .solution__outstand__item .card__body {
  margin-left: 16px;
}
#solution .solution__content .solution__item .solution-right .solution__outstand__item .card__body .card__name {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #0C1323;
}
#solution .solution__content .solution__item .solution-right .solution__outstand__item .card__body .card__description {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
#solution .solution__content .solution__item .solution-right .solution__outstand__item .card__body .card__description p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #5C6069;
}
#solution .solution__content .solution__item .solution-right .solution__outstand__item .card__body .card__description img {
  width: 16px;
  height: 16px;
  margin-right: 9.5px;
}
#solution .solution__content .solution__item .solution-bottom {
  margin-bottom: 140px;
}
#solution .solution__content .solution__item .solution-bottom .title {
  font-size: 24px;
  font-weight: 400;
  color: #0C1323;
  margin-bottom: 24px;
}
#solution .solution__content .solution__item .solution-bottom .solution__card__item {
  padding: 8px 8px 60px 8px;
  margin-bottom: 40px;
}
#solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card {
  position: relative;
}
#solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__image {
  width: 100%;
  height: 320px;
}
#solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__description {
  position: absolute;
  bottom: -50px;
  left: 30px;
  width: 90.5%;
  background-color: #fff;
  padding: 10px 0 0 20px;
}
#solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__description p {
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  word-break: break-word;
  margin: 12px 12px 12px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
#solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__description span {
  display: block;
  color: #5C6069;
  font-size: 14px;
  font-weight: 400;
  margin: 12px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
#solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card:hover {
  background-color: #F7F7F9;
}

@media (max-width: 1599.98px) {
  #solution .solution__content {
    margin-top: 270px;
  }
}
@media (max-width: 1399.98px) {
  #solution .solution__content {
    margin-top: 250px;
  }
}
@media (max-width: 1199.98px) {
  #solution .solution__content {
    margin-top: 230px;
  }
}
@media (max-width: 991.98px) {
  #solution .solution__content {
    margin-top: 210px;
  }
  #solution .solution__content .solution__item .solution-left .solution__text .solution__action {
    margin-top: 40px;
  }
  #solution .solution__content .solution__item .solution-bottom {
    margin-bottom: 80px;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item {
    padding: 8px 8px 8px 8px;
    margin-bottom: 24px;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card {
    position: relative;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__image {
    width: 100%;
    height: 260px;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__description {
    position: unset;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__description p {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    margin: 0;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__description span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  #solution .solution__content {
    margin-top: 190px;
  }
  #solution .solution__content .solution__item .solution-left .solution__text .thumbnail img {
    width: 100%;
    height: 230px;
  }
}
@media (max-width: 575.98px) {
  #solution .solution__content {
    margin-top: 170px;
  }
  #solution .solution__content .solution__item .solution-bottom {
    margin-bottom: 80px;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item {
    margin-bottom: 0;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__image {
    height: 166px !important;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__description p {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    margin: 12px 0;
  }
  #solution .solution__content .solution__item .solution-bottom .solution__card__item .solution__card .card__description span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
  }
}
#service .service__content {
  margin-top: 290px;
}
#service .service__content .service__item .service-left {
  margin-bottom: 64px;
}
#service .service__content .service__item .service-left .service__text .title {
  color: #0C1323;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 24px 0;
}
#service .service__content .service__item .service-left .service__text .description {
  font-size: 16px;
  font-weight: 400;
  color: #0C1323;
  margin: 12px 0px;
}
#service .service__content .service__item .service-left .service__text .thumbnail {
  margin-bottom: 8px;
}
#service .service__content .service__item .service-left .service__text .thumbnail img {
  width: 100%;
  height: 500px;
}
#service .service__content .service__item .service-left .service__text .thumbnail .description__image {
  font-size: 16px;
  font-weight: 400;
  color: #5C6069;
  text-align: center;
  font-style: italic;
  margin-top: 8px;
}
#service .service__content .service__item .service-left .service__text .service__action {
  margin-top: 88px;
  text-align: center;
}
#service .service__content .service__item .service-left .service__text .service__action .text {
  font-size: 18px;
  font-weight: 600;
}
#service .service__content .service__item .service-left .service__text .service__action .hotline {
  font-size: 32px;
  font-weight: 600;
  color: #ED1C24;
}
#service .service__content .service__item .service-right .service__outstand__title {
  display: flex;
  margin-bottom: 34px;
}
#service .service__content .service__item .service-right .service__outstand__item {
  display: flex;
  margin-bottom: 24px;
}
#service .service__content .service__item .service-right .service__outstand__item .card__img {
  width: 100px;
  height: 100px;
}
#service .service__content .service__item .service-right .service__outstand__item .card__body {
  margin-left: 16px;
}
#service .service__content .service__item .service-right .service__outstand__item .card__body .card__name {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #0C1323;
}
#service .service__content .service__item .service-right .service__outstand__item .card__body .card__description {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
#service .service__content .service__item .service-right .service__outstand__item .card__body .card__description p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #5C6069;
}
#service .service__content .service__item .service-right .service__outstand__item .card__body .card__description img {
  width: 16px;
  height: 16px;
  margin-right: 9.5px;
}
#service .service__content .service__item .service-bottom {
  margin-bottom: 140px;
}
#service .service__content .service__item .service-bottom .title {
  font-size: 24px;
  font-weight: 400;
  color: #0C1323;
  margin-bottom: 24px;
}
#service .service__content .service__item .service-bottom .service__card__item {
  padding: 8px 8px 60px 8px;
  margin-bottom: 40px;
}
#service .service__content .service__item .service-bottom .service__card__item .service__card {
  position: relative;
}
#service .service__content .service__item .service-bottom .service__card__item .service__card .card__image {
  width: 100%;
  height: 320px;
}
#service .service__content .service__item .service-bottom .service__card__item .service__card .card__description {
  position: absolute;
  bottom: -50px;
  left: 30px;
  width: 90.5%;
  background-color: #fff;
  padding: 10px 0 0 20px;
}
#service .service__content .service__item .service-bottom .service__card__item .service__card .card__description p {
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  word-break: break-word;
  margin: 12px 12px 12px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
#service .service__content .service__item .service-bottom .service__card__item .service__card .card__description span {
  display: block;
  color: #5C6069;
  font-size: 14px;
  font-weight: 400;
  margin: 12px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
#service .service__content .service__item .service-bottom .service__card__item .service__card:hover {
  background-color: #F7F7F9;
}

@media (max-width: 1599.98px) {
  #service .service__content {
    margin-top: 270px;
  }
}
@media (max-width: 1399.98px) {
  #service .service__content {
    margin-top: 250px;
  }
}
@media (max-width: 1199.98px) {
  #service .service__content {
    margin-top: 230px;
  }
}
@media (max-width: 991.98px) {
  #service .service__content {
    margin-top: 210px;
  }
  #service .service__content .service__item .service-bottom {
    margin-bottom: 80px;
  }
  #service .service__content .service__item .service-bottom .service__card__item {
    padding: 8px 8px 8px 8px;
    margin-bottom: 24px;
  }
  #service .service__content .service__item .service-bottom .service__card__item .service__card {
    position: relative;
  }
  #service .service__content .service__item .service-bottom .service__card__item .service__card .card__image {
    width: 100%;
    height: 260px;
  }
  #service .service__content .service__item .service-bottom .service__card__item .service__card .card__description {
    position: unset;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  #service .service__content .service__item .service-bottom .service__card__item .service__card .card__description p {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    margin: 0;
  }
  #service .service__content .service__item .service-bottom .service__card__item .service__card .card__description span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  #service .service__content {
    margin-top: 190px;
  }
  #service .service__content .service__item .service-left .service__text .thumbnail img {
    width: 100%;
    height: 230px;
  }
}
@media (max-width: 575.98px) {
  #service .service__content {
    margin-top: 170px;
  }
  #service .service__content .service__item .service-bottom {
    margin-bottom: 80px;
  }
  #service .service__content .service__item .service-bottom .service__card__item {
    margin-bottom: 0;
  }
  #service .service__content .service__item .service-bottom .service__card__item .service__card .card__image {
    height: 166px !important;
  }
  #service .service__content .service__item .service-bottom .service__card__item .service__card .card__description p {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    margin: 12px 0;
  }
  #service .service__content .service__item .service-bottom .service__card__item .service__card .card__description span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
  }
}
#project .project__content {
  margin-top: 290px;
}
#project .project__content .project__title {
  text-align: center;
}
#project .project__content .project__title p {
  font-size: 32px;
  font-weight: 600;
  margin: 64px 0px;
}
#project .project__content .project__item .project__card {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
#project .project__content .project__item .project__card .card__img img {
  width: 400px;
  height: 400px;
}
#project .project__content .project__item .project__card .card__body .card__name {
  margin: 24px 0 12px 0;
  font-size: 24px;
  font-weight: 400;
  color: #0C1323;
}
#project .project__content .project__item .project__card .card__body .card__description {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
#project .project__content .project__item .project__card .card__body .card__description p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #5C6069;
}
#project .project__content .project__item .project__card .card__body .card__description img {
  width: 16px;
  height: 16px;
  margin-right: 9.5px;
}
#project .project__content .project__action {
  margin-bottom: 120px;
  background-color: #ED1C24;
  padding: 42px 56px;
  align-items: center;
}
#project .project__content .project__action .project__text p {
  margin: 0;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
#project .project__content .project__action .project__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#project .project__content .project__action .project__image .button__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #fff;
  padding: 16px 24.5px;
  background-color: unset;
}
#project .project__content .project__action .project__image .button__action p {
  margin: 0 12.5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
#project .project__content .project__action .project__image .button__action:hover {
  background-color: #fff;
}
#project .project__content .project__action .project__image .button__action:hover p {
  color: #ED1C24;
}

@media (max-width: 1599.98px) {
  #project .project__content {
    margin-top: 270px;
  }
}
@media (max-width: 1399.98px) {
  #project .project__content {
    margin-top: 250px;
  }
  #project .project__content .project__item .project__card .card__img img {
    width: 362px;
    height: 362px;
  }
}
@media (max-width: 1199.98px) {
  #project .project__content {
    margin-top: 230px;
  }
  #project .project__content .project__item .project__card .card__img img {
    width: 330px;
    height: 330px;
  }
}
@media (max-width: 991.98px) {
  #project .project__content {
    margin-top: 210px;
  }
}
@media (max-width: 767.98px) {
  #project .project__content {
    margin-top: 190px;
  }
}
@media (max-width: 575.98px) {
  #project .project__content {
    margin-top: 170px;
  }
  #project .project__content .project__item .project__card .card__img img {
    width: 335px;
    height: 335px;
  }
}
#project__detail .project__detail__content {
  margin-top: 290px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left {
  margin-bottom: 64px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .title {
  color: #0C1323;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 24px 0;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .description {
  font-size: 16px;
  font-weight: 400;
  color: #0C1323;
  margin: 12px 0px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .thumbnail img {
  width: 100%;
  height: 500px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .thumbnail .description__image {
  font-size: 16px;
  font-weight: 400;
  color: #5C6069;
  text-align: center;
  font-style: italic;
  margin-top: 8px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action {
  margin-top: 48px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action p {
  display: none;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action a {
  padding: 9px 16px;
  background-color: #0068FF;
  margin-right: 8px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action a img {
  margin-right: 12px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action a span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
#project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action a span.responsive {
  display: none;
}
#project__detail .project__detail__content .project__detail__item .project__detail-right .project__outstand__title {
  display: flex;
  margin-bottom: 34px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-right .project__outstand__item {
  display: flex;
  margin-bottom: 24px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-right .project__outstand__item .card__img {
  width: 100px;
  height: 100px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-right .project__outstand__item .card__body {
  margin-left: 16px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-right .project__outstand__item .card__body .card__name {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #0C1323;
}
#project__detail .project__detail__content .project__detail__item .project__detail-right .project__outstand__item .card__body .card__description {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-right .project__outstand__item .card__body .card__description p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #5C6069;
}
#project__detail .project__detail__content .project__detail__item .project__detail-right .project__outstand__item .card__body .card__description img {
  width: 16px;
  height: 16px;
  margin-right: 9.5px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-bottom {
  margin-bottom: 128px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-bottom .title {
  font-size: 24px;
  font-weight: 400;
  color: #0C1323;
}
#project__detail .project__detail__content .project__detail__item .project__detail-bottom .project__detail__card .card__item {
  margin: 25px 30px 40px 0;
}
#project__detail .project__detail__content .project__detail__item .project__detail-bottom .project__detail__card .card__img img {
  width: 100%;
  height: 264px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-bottom .project__detail__card .card__body .card__name {
  margin: 24px 0 12px 0;
  font-size: 24px;
  font-weight: 400;
  color: #0C1323;
}
#project__detail .project__detail__content .project__detail__item .project__detail-bottom .project__detail__card .card__body .card__description {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
#project__detail .project__detail__content .project__detail__item .project__detail-bottom .project__detail__card .card__body .card__description p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #5C6069;
}
#project__detail .project__detail__content .project__detail__item .project__detail-bottom .project__detail__card .card__body .card__description img {
  width: 16px;
  height: 16px;
  margin-right: 9.5px;
}

@media (max-width: 1599.98px) {
  #project__detail .project__detail__content {
    margin-top: 270px;
  }
}
@media (max-width: 1399.98px) {
  #project__detail .project__detail__content {
    margin-top: 250px;
  }
}
@media (max-width: 1199.98px) {
  #project__detail .project__detail__content {
    margin-top: 230px;
  }
}
@media (max-width: 991.98px) {
  #project__detail .project__detail__content {
    margin-top: 210px;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-left {
    margin-bottom: 64px;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action {
    margin-top: 48px;
    display: flex;
    align-items: center;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action p {
    display: block;
    font-size: 14px;
    font-weight: 600;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action a {
    padding: 9px 16px;
    background-color: #0068FF;
    margin: 0 8px;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action a img {
    margin-right: 12px;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action a span {
    display: none;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action a span.responsive {
    display: contents;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-bottom .project__detail__card .card__img img {
    width: 100%;
    height: 335px;
  }
}
@media (max-width: 767.98px) {
  #project__detail .project__detail__content {
    margin-top: 190px;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .thumbnail img {
    width: 100%;
    height: 230px;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-bottom .project__detail__card .card__img img {
    width: 100%;
    height: 335px;
  }
}
@media (max-width: 575.98px) {
  #project__detail .project__detail__content {
    margin-top: 170px;
  }
  #project__detail .project__detail__content .project__detail__item .project__detail-left .project__detail__text .project__detail__action a {
    padding: 9px 10px;
  }
}
#contact .contact__content {
  margin-top: 290px;
}
#contact .contact__content .contact__item {
  margin-bottom: 120px;
}
#contact .contact__content .contact__item .contact__text {
  align-items: flex-start;
}
#contact .contact__content .contact__item .contact__text .contact__title .title {
  color: #0C1323;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}
#contact .contact__content .contact__item .contact__text .contact__title .description {
  font-size: 14px;
  font-weight: 400;
  color: #0C1323;
  margin: 12px 0px;
  opacity: 0.7;
}
#contact .contact__content .contact__item .contact__text .contact__address {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #F1F2F5;
  padding: 24px;
  margin: 40px 0px 24px 0;
}
#contact .contact__content .contact__item .contact__text .contact__address .address__infor {
  display: flex;
  align-items: flex-start;
}
#contact .contact__content .contact__item .contact__text .contact__address .address__infor .address__infor-desc {
  margin-left: 12px;
}
#contact .contact__content .contact__item .contact__text .contact__address .address__infor .address__infor-desc p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
#contact .contact__content .contact__item .contact__text .contact__address .address__infor .address__infor-desc p.address__name {
  font-size: 16px;
  font-weight: 400;
  color: #0C1323;
  opacity: unset;
}
#contact .contact__content .contact__item .contact__text .contact__address .address__infor .address__infor-desc a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
#contact .contact__content .contact__item .contact__text .contact__address .address__infor .address__infor-desc a.hotline {
  color: #fff;
  background-color: #ED1C24;
  padding: 4px 8px;
}
#contact .contact__content .contact__item .contact__text .contact__address .addess__action {
  text-decoration: none;
  color: #ED1C24;
}
#contact .contact__content .contact__item .contact__image img {
  width: 100%;
}

@media (max-width: 1599.98px) {
  #contact .contact__content {
    margin-top: 270px;
  }
}
@media (max-width: 1399.98px) {
  #contact .contact__content {
    margin-top: 250px;
  }
}
@media (max-width: 1199.98px) {
  #contact .contact__content {
    margin-top: 230px;
  }
}
@media (max-width: 991.98px) {
  #contact .contact__content {
    margin-top: 210px;
  }
}
@media (max-width: 767.98px) {
  #contact .contact__content {
    margin-top: 190px;
  }
  #contact .contact__content .contact__item .contact__text .contact__title .title {
    text-align: center;
  }
  #contact .contact__content .contact__item .contact__text .contact__address {
    flex-direction: column;
    align-items: center;
  }
  #contact .contact__content .contact__item .contact__text .contact__address .addess__action {
    margin: 24px 0 0 -145px;
  }
  #contact .contact__content .contact__item .contact__image img {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  #contact .contact__content {
    margin-top: 170px;
  }
}

/*# sourceMappingURL=style.css.map */
