#about {
    .about__content {
        margin-top: 380px;
        .about__item {
            margin-bottom: 120px;
            .about__text {
                align-items: flex-start;
                .about__title {
                    .title {
                        color: $color-primary;
                        font-size: 14px;
                        font-weight: 400;
                        margin: 0;
                    }
                    .description {
                        font-size: 32px;
                        font-weight: 600;
                        color: $color-black;
                        margin: 8px 0;
                    }
                }
                .about__list {
                    list-style-type: none;
                    padding: 0;
                    margin: 40px 0;
                    .about__list__item {
                        display: flex;
                        align-items: flex-start;
                        margin: 24px 0;
                        p {
                            margin: 0;
                            font-size: 16px;
                            font-weight: 400;
                            color: $color-black;
                            margin: 0 12px;
                        }
                    }
                }
            }
            .about__image {
                img {
                    width: 100%;
                }
            }
        }
        .about__action {
            margin-bottom: 120px;
            background-color: $color-primary;
            padding: 42px 56px;
            align-items: center;
            .about__text {
                p {
                    margin: 0;
                    color: $color-white;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            
            .about__image {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .button__action {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    border: 1px solid $color-white;
                    padding: 16px 24.5px;
                    background-color: unset;
                    p {
                        margin: 0 12.5px;
                        color: $color-white;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    &:hover {
                        background-color: $color-white;
                        p {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    #about {
        .about__content {
            margin-top: 220px;
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    #about {
        .about__content {
            .about__item {
                margin-bottom: 80px;
                .about__text {
                    .about__title {
                        text-align: center;
                    }
                }
                &:nth-child(2) {
                    .about__text {
                        order: -1;
                    }
                }
            }
            .about__action {
                .about__text {
                    text-align: center;
                    margin-bottom: 24px;
                }
                .about__image {
                    justify-content: center;
                }
            }
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    #about {
        .about__content {
            margin-top: 240px;
        }
    }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    #about {
        .about__content {
            margin-top: 280px;
        }
    }
}

@media (max-width: 1599.98px) {
    #about {
        .about__content {
            margin-top: 300px;
        }
    }
}
