#contact {
    .contact__content {
        margin-top: 380px;
        .contact__item {
            margin-bottom: 120px;
            .contact__text {
                align-items: flex-start;
                .contact__title {
                    .title {
                        color: $color-black;
                        font-size: 32px;
                        font-weight: 600;
                        margin: 0;
                    }
                    .description {
                        font-size: 14px;
                        font-weight: 400;
                        color: $color-black;
                        margin: 12px 0px;
                        opacity: 0.7;
                    }
                }
                .contact__address {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    border: 1px solid $color-gray-light;
                    padding: 24px;
                    margin: 40px 0px 24px 0;
                    .address__infor {
                            display: flex;
                            align-items: flex-start;
                        .address__infor-desc {
                            margin-left: 12px;
                            p {
                                font-size: 16px;
                                font-weight: 400;
                                opacity: 0.7;
                            }
                            p.address__name {
                                font-size: 16px;
                                font-weight: 400;  
                                color: $color-black;
                                opacity: unset;
                            }
                            a {
                                text-decoration: none;
                                font-size: 16px;
                                font-weight: 600;
                                &.hotline {
                                    color: $color-white;
                                    background-color: $color-primary;
                                    padding: 4px 8px;
                                }
                            }
                        }
                    }
                    .addess__action {
                        text-decoration: none;
                        color: $color-primary;
                    }

                }
            }
            .contact__image {
                img {
                    width: 100%;
                }
            }
        }
    }
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    #contact {
        .contact__content {
            .contact__item {
                .contact__text {
                    .contact__title {
                        .title {
                            text-align: center;
                        }
                    }
                    .contact__address {
                        flex-direction: column;
                        align-items: center;
                        .addess__action {
                            margin: 24px 0 0 -145px;
                        }
    
                    }
                }
                .contact__image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}

@media (max-width: 1599.98px) {

}