#home {
    .slider {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 480px;
        margin-top: 80px;
        
    }
    
    #ss {
        margin-top: 120px;
        .ss__content {
            margin-top: 34px;
            .ss__card {
                position: relative;
                margin-bottom: 100px;
                .card__image {
                    width: 100%;
                }
                .card__description {
                    position: absolute;
                    bottom: -50px;
                    left: 30px;
                    width: 87.5%;
                    background-color: $color-white;
                    padding: 10px 0 0 20px;
                    p {
                        font-size: 16px;
                        font-weight: 600;
                        margin: 12px 12px 12px 0;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        display: -webkit-box;
                    }
                    span {
                        display: block;
                        color: $color-gray-bold;
                        font-size: 14px;
                        font-weight: 400;
                        margin: 12px 0;
                    }
                }
            }
            
        }
    }

    #project {
        .project__btn {
            border: 1px solid $color-primary;
            text-decoration: none;
            color: $color-black;
            padding: 9px 16px;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-size: 14px;
                font-weight: 600;
            }
            img {
                margin-left: 14px;
                width: 16px;
            }
        }
        
        .project__slideshow {
        /* Fading animation */
        .fade {
            opacity: 1;
            animation-name: fade;
            animation-duration: 1.5s;
        }
    
        @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
        }

        .project__content {
            margin: 64px 0px 120px 0px;
                .content__description {
                    .description__action {
                        margin-bottom: 12px;
                        .description__number {
                            padding: 8px 12px;
                            margin: 0;
                            font-size: 14px;
                            font-weight: 400;
                            background-color: $color-gray-light;
                        }
                        .description__image {
                            button {
                                border: 1px solid #F1F2F5;
                                img {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
                    }

                    .description__infor {
                        .infor__name {
                            margin-bottom: 24px;
                            .info__title {
                                font-size: 24px;
                                font-weight: 400;
                                color: $color-black;
                                margin-bottom: 12px;
                            }
                            .info__description {
                                font-size: 14px;
                                font-weight: 400;
                                color: $color-gray-bold;
                            }
                        }
                        .infor__service, .infor__address {
                            .info__title {
                                font-size: 14px;
                                font-weight: 600;
                                color: $color-black;
                                margin-bottom: 8px;
                            }
                            .info__description {
                                font-size: 14px;
                                font-weight: 400;
                                color: $color-gray-bold;
                            }
                        }
                        .infor__service {
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
    }

    #product {
        .product__title {
            margin-bottom: 64px;
        }

        .product__content {
            margin-bottom: 64px;
            .content__item {
                margin-bottom: 12px;
                img {
                    margin-right: 24px;
                }
                div {
                    border: solid $color-gray-light;
                    border-width: 1px 1px 1px 0;
                    height: 100%;
                    width: 100%;
                    padding: 10px;
                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: $color-black;
                    }
                }
            }
        }

        .product__action {
            text-align: center;
            margin-bottom: 120px;
            a {
                text-decoration: none;
                color: $color-black;
                padding: 9px 16px;
                border: 1px solid $color-primary;
                span {
                    font-size: 14px;
                    font-weight: 600;
                    color: inherit;
                }
                img {
                    width: 16px;
                }
            }

        }

    }
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .project__content {
        & > div {
            padding: 0 !important;
            margin-bottom: 10px;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    
}
