#project {
    .project__content {
        margin-top: 290px;
        .project__title {
            text-align: center;
            p {
                font-size: 32px;
                font-weight: 600;
                margin: 0 0 64px 0;
            }
        }
        .project__item {
            .project__card {
                display: flex;
                justify-content: center;
                margin-bottom: 80px;
                .card__img {
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .card__body {
                    .card__name {
                        margin: 24px 0 12px 0;
                        font-size: 24px;
                        font-weight: 400;
                        color: $color-black;
                    }
                    .card__description {
                        display: flex;
                        // justify-content: center;
                        align-items: center;
                        margin-bottom: 4px;
                        p {
                            margin: 0;
                            font-size: 14px;
                            font-weight: 400;
                            color: $color-gray-bold;
                        }
                        img {
                            width: 16px;
                            height: 16px;
                            margin-right: 9.5px;
                        }
                    }
                }
            }
        }
        .project__action {
            margin-bottom: 120px;
            background-color: $color-primary;
            padding: 42px 56px;
            align-items: center;
            .project__text {
                p {
                    margin: 0;
                    color: $color-white;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            
            .project__image {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .button__action {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    border: 1px solid $color-white;
                    padding: 16px 24.5px;
                    background-color: unset;
                    p {
                        margin: 0 12.5px;
                        color: $color-white;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    &:hover {
                        background-color: $color-white;
                        p {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1599.98px) {
    #project {
        .project__content {
            margin-top: 270px;
        }
    }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    #project {
        .project__content {
            margin-top: 250px;
            .project__item {
                .project__card {
                    .card__img {
                        img {
                            width: 362px;
                            height: 362px;
                        }
                    }
                }
            }
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    #project {
        .project__content {
            margin-top: 230px;
            .project__item {
                .project__card {
                    .card__img {
                        img {
                            width: 330px;
                            height: 330px;
                        }
                    }
                }
            }
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    #project {
        .project__content {
            margin-top: 210px;
        }
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    #project {
        .project__content {
            margin-top: 190px;
        }
    }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #project {
        .project__content {
            margin-top: 170px;
            .project__item {
                .project__card {
                    .card__img {
                        img {
                            width: 335px;
                            height: 335px;
                        }
                    }
                }
            }
        }
    }
}