#footer {
    background-color: $color-black;
    color: $color-white;
    padding: 64px 0;
    

    .footer__copyright {
        p {
            font-size: 10px;
            font-weight: 400;
            opacity: 0.7;
            color: $color-white;
        }
    }



    .footer__content {
        .footer__title {
            color: $color-white;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 34px;
        }
        .footer__infor {
            margin-bottom: 26px;
            .infor {
                margin-left: 12.75px;
                .infor__name {
                    font-size: 14px;
                    font-weight: 400;
                    color: $color-white;
                }
                .infor__address, .infor__phone {
                    font-size: 14px;
                    font-weight: 400;
                    opacity: 0.7;
                    color: $color-white;
                }
                .infor__phone {
                    margin: 0;
                }
            }
        }
        .footer__item {
            a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                color: $color-white;
            }
            &:hover {
                color: $color-primary;
            }
            margin-bottom: 26px;
        }

        .footer__column {
            &:not(:first-child) {
            padding-left: 10%;
                
            }
        }
    }
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    #footer {
        
        .footer__content {
            .footer__column {
                border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
              
            }
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    #footer {
        
        .footer__content {
            .footer__column {
                padding-left: 10%;
            }
        }
        .footer__copyright {
                padding-left: 10%;
                // padding: 0;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    
}
