.slider {
    position: relative;
    .slideshow__image {
        .slideshow__item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
            height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
            object-fit: cover;
            z-index:-1;
            opacity: 0;
            transition: opacity 0.75s ease-in-out;
          }
    }
    .slideshow__content {
        margin-top: 90px;
        p {
            font-size: 42px;
            font-weight: 600;
            margin: 8px 0px;
        }
        span {
            font-size: 16px;
            font-weight: 400;
        }
    }
  }

  // `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .slider {
        .slideshow__content {
            margin-top: 90px;
            p {
                font-size: 30px;
                font-weight: 600;
                margin: 8px 0px;
            }
            span {
                font-size: 16px;
                font-weight: 400;
            }
        }
      }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    
}
